;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[org.glassfish.jaxb/jaxb-runtime "2.3.2"]]

 :builds
 {:frontend
  {:target :browser
   :output-dir "resources/compiled"
   :modules {:core {:init-fn cljs-jxa-starter.core/main}}
   :output-to "resources/compiled/core.js"
   :compiler-options {:infer-externs :auto}}
  :focus
  {:target :browser
   :output-dir "resources/compiled"
   :modules {:core {:init-fn cljs-jxa-starter.focus-resize-window/main}}
   :output-to "resources/compiled/core.js"
   :compiler-options {:infer-externs :auto}}}}
